{{#javaPackageFqn}}
package {{javaPackageFqn}};
{{/javaPackageFqn}}

/**
 * <p>Contract definition {{serviceName}} service.</p>
 */
public interface {{prefixedServiceName}} {
{{#unaryUnaryMethods}}

  io.vertx.core.Future<{{outputType}}> {{vertxMethodName}}({{inputType}} request);
{{/unaryUnaryMethods}}
{{#unaryManyMethods}}

  io.vertx.core.Future<io.vertx.core.streams.ReadStream<{{outputType}}>> {{vertxMethodName}}({{inputType}} request);
{{/unaryManyMethods}}
{{#manyUnaryMethods}}

  io.vertx.core.Future<{{outputType}}> {{vertxMethodName}}(io.vertx.core.streams.ReadStream<{{inputType}}> request);
{{/manyUnaryMethods}}
{{#manyManyMethods}}

  io.vertx.core.Future<io.vertx.core.streams.ReadStream<{{outputType}}>> {{vertxMethodName}}(io.vertx.core.streams.ReadStream<{{inputType}}> request);
{{/manyManyMethods}}

}
